@import '../../variables.scss';

.MainPage,
.wrapper,
.filtersContainer,
.productsContainer, 
.productsUIBar {
    box-sizing: border-box;
}

.MainPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 300px);
    background-color: var(--background);
    color: var(--textAlt);
    font-family: $montserrat;
    font-size: 36px;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    width: 1560px;
    gap: 10px;
    margin: 50px 0 50px 0;
}

.products {
    &Container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        min-height: calc(100vh - 300px);
        width: 1150px;
        gap: 15px;
    }

    &UIBar {
        display: grid;
        grid-template-areas: "search pFound pFound sort button";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
        height: 55px;
        width: 1150px;
    }
}

.UIBar {
    &ButtonsContainer {
        grid-area: button;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        justify-self: flex-end;
        width: 105px;
    }

    &ProductsFound {
        grid-area: pFound;
        align-self: center;
        justify-self: center;
        color: var(--subAlt);
        font-size: 26px;
    }

    &Button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        padding: 5px;
        margin: 0;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        background-color: var(--text);
        font-family: $ubuntu;
        font-size: 18px;
        transition: 0.2s ease-in-out;
        
        &:hover {
            transform: scale(1.05);
        }

        &Img {
            width: 100%;
        }

        &Inactive {
            opacity: 0.5;
        }
    }
}

.Sort {
    grid-area: sort;
    height: 100%;
    width: 275px;
    padding-left: 10px;
    padding-right: 0px;
    border: none;
    border-radius: 15px;
    font-family: $ubuntu;
    font-size: 24px;
    outline: none;
    cursor: pointer;

    & > option {
        font-size: 18px;
        outline: none;
    }
}

.Search {
    grid-area: search;
    height: 100%;
    width: 350px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 15px;
    color: var(--subAlt);
    font-family: $ubuntu;
    font-size: 24px;
    outline: none;
}

.filtersCont {
    display: block;

    &Mobile {
        display: none;
        overflow-y: auto;
        &::-webkit-scrollbar {
            appearance: none;
            width: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: var(--main);
        }
    }
}

.filtersMobileButton {
    display: none;
}


@media (max-width: 1600px) and (min-width: 1440px) {
    .wrapper {
        width: 1400px;
    }

    .products {
        &Container {
            width: 990px;
        }

        &UIBar {
            width: 990px;
        }
    }
}

@media (max-width: 1439px) and (min-width: 1024px) {
    .wrapper {
        width: 984px;
    }

    .products {
        &Container {
            width: 700px;
        }

        &UIBar {
            grid-template-areas: 
            "search pFound pFound"
            "sort . button";
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 55px 55px;
            gap: 15px;
            height: 125px;
            width: 700px;
        }
    }

    .UIBar {
        &ProductsFound {
            justify-self: flex-end;
        }
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .wrapper {
        width: 728px;
    }

    .products {
        &Container {
            width: 442px;
        }

        &UIBar {
            grid-template-areas: 
            "search pFound"
            "sort button";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 55px 55px;
            gap: 15px;
            height: 125px;
            width: 442px;
        }
    }

    .UIBar {
        &ProductsFound {
            justify-self: flex-end;
        }
    }

    .Search {
        width: 260px;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .wrapper {
        width: 405px;
    }

    .products {
        &Container {
            width: 405px;
        }

        &UIBar {
            grid-template-areas: 
            "search pFound"
            "sort button";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 55px 55px;
            gap: 15px;
            height: 125px;
            width: 405px;
        }
    }

    .UIBar {
        &ProductsFound {
            justify-self: flex-end;
            font-size: 20px;
        }
    }

    .Search {
        width: 200px;
    }

    .filtersCont {
        display: none;

        &Mobile {
            position: absolute;
            padding: 5px 0 5px 5px;
            z-index: 100;
            top: 0;
            left: 0;
            display: block;
            height: 100vh;
            width: 100%;
            overflow-y: auto;
            background: rgba($color: #000000, $alpha: 0.5);
        }
    }

    .filtersMobileButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 10px;
        background: var(--main);
        color: var(--text);
        cursor: pointer;
        font-size: 20px;
        font-family: $montserrat;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--subAlt);
        }

        &:active {
            background: var(--text);
            color: var(--main);
        }
    }

    .closeMobileFiltersButton {
        position: fixed;
        top: 5px;
        left: 285px;
        height: 35px;
        width: 35px;
        border: none;
        border-radius: 50%;
        background: var(--main);
        color: var(--text);
        cursor: pointer;
        font-size: 24px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--subAlt);
        }

        &:active {
            background: var(--text);
            color: var(--text);
        }
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .wrapper {
        width: 300px;
    }

    .products {
        &Container {
            width: 300px;
        }

        &UIBar {
            grid-template-areas: 
            "pFound"
            "search"
            "sort"
            "button";
            grid-template-columns: 1fr;
            grid-template-rows: 55px 55px 55px 55px;
            gap: 15px;
            height: 265px;
            width: 300px;
        }
    }

    .UIBar {
        &ProductsFound {
            justify-self: center;
            font-size: 20px;
        }

        &ButtonsContainer {
            justify-self: center;
        }
    }

    .Search {
        width: 100%;
    }

    .filtersCont {
        display: none;

        &Mobile {
            position: absolute;
            padding: 5px 0 5px 0;
            z-index: 100;
            top: 0;
            left: 0;
            display: block;
            height: 100vh;
            width: 100%;
            overflow-y: auto;
            background: rgba($color: #000000, $alpha: 0.5);
        }
    }

    .filtersMobileButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 10px;
        background: var(--main);
        color: var(--text);
        cursor: pointer;
        font-size: 20px;
        font-family: $montserrat;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--subAlt);
        }

        &:active {
            background: var(--text);
            color: var(--main);
        }
    }

    .closeMobileFiltersButton {
        position: fixed;
        top: 5px;
        left: 275px;
        height: 35px;
        width: 35px;
        border: none;
        border-radius: 50%;
        background: var(--main);
        color: var(--text);
        cursor: pointer;
        font-size: 24px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: var(--subAlt);
        }

        &:active {
            background: var(--text);
            color: var(--text);
        }
    }
}