@import '../../variables.scss';

.Product {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "path path"
    "images info";
    width: 100%;

    padding: 50px 0;
    border-radius: 10px;

    background-color: var(--text);
}
.price {
    align-items: center;
}

.presentation {
    grid-area: images;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    padding: 20px 30px;
    margin-right: 30px;

    border-radius: 10px;
}
.info {
    grid-area: info;
    flex-grow: 1;
    height: 100%;

    padding: 25px 30px;

    border-radius: 10px;

    &Title {
        font-size: 3.6rem;
        line-height: 1;
    }

    &Brand {
        font-size: 1.8rem;
        font-weight: 300;
    }

    &Description {
        max-width: 70%;
        margin-bottom: 20px;

        font-size: 1.4rem;
        font-weight: 300;
    }

    &Price {
        font-weight: 700;
        font-size: 2.6rem;
        color: var(--main);
        margin-right: 20px;
    }

    &Container {
        align-items: flex-start;
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &Name {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        justify-content: space-between;
    }

    &RSC {
        margin-bottom: 50px;
        &Item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }
        }

        &Icon {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        &Text {
            font-weight: 700;
            font-size: 1.2rem;
        }
    }
}

.fwRegular {
    font-weight: 400;
}

.productPath {
    grid-area: path;
    width: 100%;
    padding: 0 10px;
    color: var(--subAlt);
    font-family: $montserrat;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
    word-spacing: 10px;

    &Link {
        color: var(--sub);
        text-decoration: none;
        transition: 0.2s ease-in-out;
        &:hover {
            color: var(--main);
        }
        &:active {
            color: var(--subAlt)
        }
    }
}

@media (max-width: 1439px) and (min-width: 1024px) {
    .productPath {
        font-size: 20px;
    }

    .price {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .Product {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: flex-start;
    }
    
    .productPath {
        font-size: 20px;
    }

    .presentation{ 
        margin: 0;
    }

    .price {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media (max-width: 767px) and (min-width: 425px) {
    .Product {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: flex-start;
    }
    
    .productPath {
        font-size: 20px;
    }

    .presentation{ 
        margin: 0;
    }

    .price {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }

    .info {
        padding: 10px;
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .Product {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: flex-start;
    }
    
    .productPath {
        font-size: 20px;
        word-break: keep-all;
        word-wrap: break-word;
    }

    .presentation{
        width: 300px;
        margin: 0;
        padding: 0;
    }

    .price {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }

    .info {
        padding: 0;

        &Container {
            width: 300px;
            margin-bottom: 25px;
        }
    }
}