// Fonts -------------------------
$montserrat: 'Montserrat', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

// Colors ------------------------
$blue-bg: #0c75ff;
$white: #fff;
$gray-text: #aebed1;
$black-text: #03000b;
$gray-blue-bg: #dae4ff;
$hover: #acb6d1;
$hoverChecked: #044aa5;
$red-bg: #ff1f1f;
$red-light: #ff9b9b;